.aside-left{
  float: left;
  width: 18.125%;
  min-width: 200px;
  margin-right: 1.25%;
  margin-bottom: 20px;
  color: #fffefe;
  background: radial-gradient(circle at bottom, rgba(255, 255, 255, 0.32) 0%, rgba(1, 2, 2, 0.32) 100%), rgba(79, 73, 102, 0.81) url(../img/dotted.png);
  @media (max-width: 768px){
    position: fixed;
    overflow: auto;
    top: 0;
    bottom: 0;
    transform: translateX(-100%);
    margin: auto auto auto -220px;
    background: rgba(79, 73, 102, 0.81);
    transition: .5s;
    z-index: 1;
    &.active{
      transform: translateX(0);
      margin-left: 0;
    }
  }
  ul{
    padding: 0;
    list-style-type: none;
    overflow: hidden;
  }
  a{
    display: block;
    width: 100%;
    padding-left: 75px;
    padding-right: 5%;
    border-bottom: 1px solid #2d2a34;
    font-size: 22px;
    font-weight: 300;
    line-height: 65px;
    @media (max-width: 1350px){
      padding-left: 30px;
    }
    @media (max-width: 768px){
      line-height: 50px;
    }
    &:hover{
      background-color: rgba(168,168,168,.12);
    }
    &.current{
      background-color: rgba(214,63,177,.12);
      box-shadow: 0 6px 20px rgba(0, 1, 2, 0.19);
    }
  }
}



.for-left-aside,
.for-right-aside,
.constructor-page__settings__button{
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 30px;
  height: 50px;
  cursor: pointer;
  &:before,
  &:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 5px;
    margin: auto;
    width: 70%;
    height: 3px;
    background-color: #fff;
  }
  &:before{
    top: -13px;
  }
  &:after{
    top: 13px;
  }
}

.for-left-aside{
  left: 0;
  background-color: @pink;
  &:before{
    transform: rotate(45deg);
  }
  &:after{
    transform: rotate(-45deg);
  }
  @media (max-width: 768px){
    display: block;
  }
}


.for-right-aside,
.constructor-page__settings__button{
  right: 0;
  background-color: #2e2d37;
  z-index: 100;
  &:before{
    transform: rotate(135deg);
  }
  &:after{
    transform: rotate(-135deg);
  }
  @media (max-width: 991px){
    display: block;
  }
}









.ci-settings{
  min-width: 290px;
  width: 290px;
  margin-left: 1.5625%;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.35);
  background-color: #fff;
  @media (max-width: 991px){
    position: fixed;
    overflow: auto;
    top: 0;
    bottom: 0;
    transform: translateX(100%);
    margin: auto -290px auto auto;
    transition: .5s;
    z-index: 1;
    &.active{
      transform: translateX(-100%);
      margin-left: 0;
    }
  }
}


.cis-top{
  padding: 12px 12px 12px 30px;
  background-color: #2e2d37;
  border: 1px solid white;
  border-radius: 5px;
  color: #fffefe;
  font-size: 20px;
  font-weight: 500;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.35);
}


.cis-bottom{
  padding: 25px 6px 0;
}


.cisb-colors{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 10px;
  div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    margin: 7px 2px;
    background-color: #f4f4f4;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .25);
    cursor: pointer;
    &.current{
      border: 1px solid @blue;
    }
  }
  span{
    display: block;
    width: 37px;
    height: 37px;
    border-radius: 2px;
  }
}


.cisb-price{
  padding: 30px 10px;
  font-size: 20px;
  text-align: center;
  box-shadow: 0 2px 3.4px 0.6px rgba(0, 0, 0, 0.08);
  strong{
    font-size: 22px;
  }
}


.to-order,
.cart-add{
  display: block;
  width: 242px;
  height: 45px;
  margin: 25px auto;
  font-size: 18px;
  font-weight: 500;
  border-radius: 2px;
  transition: .4s;
  &:hover{
    box-shadow: 0 6px 20px rgba(0, 1, 2, 0.19);
  }
}

.to-order{
  color: #ffffff;
  background-color: @blue;
  border: none;
  box-shadow: 0 6px 10px rgba(0, 1, 2, 0.19);
}

.cart-add{
  padding-left: 15px;
  color: @blue;
  border: 1px solid @blue;
  text-align: left;
  background: #fff url(../img/cart-add.svg) no-repeat 90% 55%;
}









.constructor-page__settings{
  min-width: 306px;
  width: 306px;
  margin-left: 1.5625%;
  border-radius: 5px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.35);
  background-color: #fff;
  @media (max-width: 991px){
    position: fixed;
    overflow: auto;
    top: 0;
    bottom: 0;
    transform: translateX(0);
    transition: .5s;
    z-index: 1;
    &.active{
      transform: translateX(-100%);
      margin-left: 0;
    }
  }
}


//.constructor-page__settings{
//  flex-shrink: 0;
//  width: 306px;
//  margin-left: 1.5625%;
//  border-radius: 5px;
//  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.35);
//  background-color: #fff;
//  @media (max-width: 991px){
//    position: fixed;
//    overflow: auto;
//    top: 0;
//    bottom: 0;
//    transform: translate3d(100%, 0, 0);
//    margin: auto -306px auto auto;
//    transition: .5s;
//    z-index: 1;
//    &.active{
//      transform: translate3d(-100%, 0, 0);
//      margin-left: 0;
//    }
//  }
//}


.constructor-page__settings__item{
  margin-bottom: -1px;
  &.active{
    .cis-bottom{
      height: auto;
      padding: 25px 6px;
    }
  }
  .cis-top{
    cursor: pointer;
    &:hover{
      background-color: #363541;
    }
  }
  .cis-bottom{
    height: 0;
    padding: 0;
    overflow: hidden;
  }
}


.constructor-page__settings-tabs{
  ul{
    padding: 0;
    list-style-type: none;
    li{
      display: inline-block;
      &:nth-child(1) a{
        border-radius: 2px 0 0 2px;
        background-image: url(../img/tab-image.svg);
      }
      &:nth-child(2) a{
        background-image: url(../img/tab-smile.svg);
      }
      &:nth-child(3) a{
        background-image: url(../img/tab-sticker.svg);
      }
      &:nth-child(4) a{
        background-image: url(../img/tab-text.svg);
        border-radius: 0 2px 2px 0;
      }
    }
    a{
      display: block;
      width: 74px;
      height: 42px;
      margin-right: -5px;
      border: 1px solid @blue;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.07);
      background: #fff no-repeat center;
      &.active{
        border-bottom: none;
        background-color: #f4f4f4;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
      }
    }
  }
}


.images-tab__content,
.smiles-tab__content,
.stickers-tab__content,
.text-tab__content{
  padding: 5px;
  background-color: #f4f4f4;
  border-radius: 2px;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.25);
}


.images-tab__content,
.text-tab__content{
  button{
    display: block;
    margin: 15px auto;
    padding: 0 15px;
    background-color: white;
    border: 1px solid #d2d2d2;
    border-radius: 2px;
    font-size: 15px;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
  }
}


.images-tab__content{
  input{
    display: none;
  }
}


.images-tab__content-wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  img{
    flex-basis: 31%;
    margin: 3px;
  }
}


.smiles-tab__content,
.stickers-tab__content{
  max-height: 300px;
  overflow: auto;
}


.smiles-tab__content,
.stickers-tab__content > div{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  img{
    max-width: 17%;
    margin: 4px;
    cursor: pointer;
    &:hover{
      background-color: white;
      border-radius: 2px;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
    }
  }
}


.stickers-tab__content > div{
  padding: 5px 0;
  & + div{
    border-top: 1px solid #a3a3a3;
  }
}


.text-tab__content{
  padding-top: 15px;
  input,
  select{
    height: 37px;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
    border: none;
  }
  input{
    width: 100%;
    margin-bottom: 15px;
    padding: 5px 10px;
  }
  select{
    &:nth-of-type(1){
      width: 53px;
    }
    &:nth-of-type(2){
      width: 226px;
      padding-left: 15px;
    }
  }
}


.constructor-page__filters{
  display: flex;
  justify-content: space-between;
  div{
    position: relative;
    cursor: pointer;
    &:before{
      content: '';
      position: absolute;
      bottom: 10px;
      width: 22px;
      height: 22px;
      background: #f4f4f4 no-repeat center;
      border: 1px solid #2e2d37;
      border-radius: 2px;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
      z-index: 1;
    }
    &.active{
      &:before{
        background-image: url(../img/filter-check.svg);
      }
    }
    &:nth-child(1) span{
      filter: grayscale();
    }
    &:nth-child(2) span{
      filter: sepia();
    }
    &:nth-child(3) span{
      filter: invert();
    }
    span{
      display: block;
      width: 85px;
      height: 85px;
      background-image: url(../img/filter.png);
    }
  }
}