@order-page-grey: #bdc3c7;

.order-page{
  .wrap(1260);
  min-height: 70vh;
}


.order-page__tabs-header{
  .wrap(1050);
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 30px;
  padding: 0;
  border-bottom: 2px solid @order-page-grey;
  color: @order-page-grey;
  font-size: 22px;
  list-style-type: none;
  li{
    margin-bottom: -3px;
    padding-bottom: 15px;
    &.active{
      color: #000;
      border-bottom: 5px solid @blue;
    }
    @media (max-width: 768px) {
      &:not(.active){
        width: 0;
        height: 0;
        overflow: hidden;
      }
    }
  }
}



.cart-tab,
.contacts-tab,
.payment-tab{
  display: none !important;
  &.active{
    display: block !important;
  }
}


.cart-tab{
  overflow-x: auto;
}


.cart-tab__content{
  border: 2px solid @blue;
  border-radius: 5px;
  min-width: 704px;
  table{
    min-width: 700px;
    width: 100%;
  }
  thead{
    border: 10px solid @blue;
    border-left: none;
    border-right: none;
  }
  tbody{
    border-radius: 5px;
  }
  th{
    height: 61px;
    font-size: 20px;
    font-weight: 500;
    border: 1px solid @blue;
    border-bottom: 10px solid @blue;
  }
  tr{
    &:last-of-type{
      td{
        border-bottom: none;
      }
    }
  }
  td{
    padding: 10px;
    font-size: 18px;
    text-align: center;
    border: 1px solid rgba(154, 154, 154, .57);
    &:first-of-type{
      border-left: none;
    }
    &:nth-child(4){
      width: 140px;
      button{
        width: 41px;
        height: 41px;
        background-color: @blue;
        border: none;
        border-radius: 2px;
        &:hover{
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
        }
      }
    }
    &:nth-child(5){
      width: 110px;
    }
    &:last-of-type{
      width: 100px;
      border: none;
      button{
        width: 65px;
        height: 63px;
        background: transparent url(../img/recycle.svg) no-repeat center;
        background-size: 27px;
        border: none;
        &:hover{
          background-color: @blue;
        }
      }
    }
  }
  img{
    display: block;
    margin: 0 auto;
  }
}



.contacts-tab{
  form{
    max-width: 860px;
    margin: auto;
  }
  input,
  textarea{
    width: 100%;
    padding-left: 30px;
    padding-right: 40px;
    border: 1px solid #9b9b9b;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(149, 175, 222, 0.1);
    &:focus,
    &:active{
      border-color: @blue;
    }
  }
  input{
    height: 55px;
    margin-bottom: 20px;
  }
  textarea{
    height: 170px;
    padding-top: 15px;
  }
}



.payment-tab{
  max-width: 1080px;
  margin: auto;
  form{
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  label{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    margin-bottom: 27px;
    font-size: 18px;
    font-weight: 300;
    color: #606060;
    cursor: pointer;
    img{
      margin-left: 25px;
    }
  }
  .jq-radio{
    flex-shrink: 0;
  }
}



















.cart-page__controllers{
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
  margin-bottom: 45px;
  &--cart-tab{
    justify-content: flex-end;
  }
  &__prev,
  &__next{
    width: 360px;
    height: 55px;
    font-size: 22px;
    line-height: 53px;
    background-repeat: no-repeat;
    @media (max-width: 650px) {
      font-size: 18px;
    }
  }
  &__prev{
    padding-left: 35px;
    color: @orange;
    background-image: url(../img/arr-prev.svg);
    background-position-y: center;
    filter: grayscale();
    &:hover{
      filter: grayscale(0);
    }
  }
  &__next{
    color: #ffffff;
    text-align: center;
    background-color: @blue;
    background-image: url(../img/arr-next.svg);
    background-position: 82%;
    border-radius: 5px;
    @media (max-width: 650px) {
      background-image: none;
    }
  }
}