.catalog-item-page{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  @media (max-width: 991px){
    padding-right: 1.25%;
  }
  @media (max-width: 768px){
    padding-left: 1.25%;
  }
}


.ci-img{
  margin-bottom: 20px;
}


.ci-img-wrap{
  position: relative;
  top: 2px;
  margin-bottom: 4.6875%;
  box-shadow: 0 6px 20px rgba(0, 1, 2, 0.19);
  img{
    display: block;
    width: 100%;
  }
}

.ci-img-bottom{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  border-top: 8px solid @orange;
  @media (max-width: 500px){
    flex-wrap: wrap;
    justify-content: space-around;
  }
  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 10%;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 10px solid @orange;
  }
  h2{
    font-size: 22px;
    font-weight: 500;
  }
  .ci-stars{
    display: flex;
    position: static;
    background-color: transparent;
  }
}