.catalog-page{
  @media (min-width: 769px){
    display: flex;
  }
  &:after{
    content: '';
    display: table;
    clear: both;
  }
}





.cp-main{
  @media (min-width: 769px){
    width: 80.625%;
  }
}


.m-top{
  position: relative;
  img{
    width: 100%;
    max-width: 100%;
    max-height: 450px;
  }
  div{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  p{
    padding: 10px;
    font-size: 39px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 6px 32px #000102;
    @media (max-width: 1100px){
      font-size: 35px;
    }
    @media (max-width: 768px){
      font-size: 28px;
    }
  }
  strong{
    color: #f1cd09;
  }
}




.catalog-items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 1.25%;
  @media (max-width: 855px){
    justify-content: space-around;
  }
  @media (max-width: 768px){
    padding-left: 1.25%;
  }
}


.c-item{
  display: flex;
  flex-direction: column;
  max-width: 194px;
  margin-bottom: 35px;
  margin-right: 5px;
  @media (max-width: 768px){
    margin-left: 5px;
  }
  &:hover{
    .ci-title{
      color: #ffffff;
      background-color: @orange;
      &:before{
        content: '';
      }
    }
    .ci-stars{
      display: flex;
    }
  }
  a{
    display: flex;
    position: relative;
  }
  img{
    border-radius: 5px;
  }
}


.ci-title{
  display: flex;
  align-items: center;
  height: 65px;
  padding: 0 20px;
  color: #272727;
  font-weight: 300;
  border-radius: 0 0 5px 5px;
  &:before{
    position: absolute;
    bottom: 100%;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 10px solid @orange;
  }
}




.create-skin{
  margin-bottom: 20px;
  padding: 3.515625% 10px 3.90625%;
  text-align: center;
  background-color: #ededed;
  p{
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: 300;
    @media (max-width: 530px){
      font-size: 25px;
    }
  }
}