.breadcrumbs{
  padding-top: 2.14%;
  padding-bottom: 2.38%;
  color: #272727;
  font-weight: 300;
  @media (max-width: 768px){
    padding-left: 1.25%;
  }
  a{
    color: #35b5eb;
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
}




.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  width: 350px;
  height: 58px;
  margin: 0 auto;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  background-color: #35b5eb;
  border: none;
  border-radius: 3px;
  box-shadow: 0 6px 20px rgba(0, 1, 2, 0.19);
  @media (max-width: 370px){
    width: 290px;
  }
}




.pagination{
  margin-top: 25px;
  margin-bottom: 55px;
  text-align: center;
  .page,
  .prev,
  .next{
    display: inline-block;
    width: 39px;
    height: 38px;
    line-height: 36px;
    border: 1px solid #efc7b7;
    border-radius: 5px;
    vertical-align: middle;
  }
  .page{
    color: #000000;
    &:hover:not(.current):not(.dots){
      border-color: #a4d228;
      color: #a4d228;
    }
  }
  .current,
  .dots{
    cursor: default;
  }
  .current{
    border: none;
    background-color: #dd8461;
    box-shadow: inset 0 3px 5.7px 0.3px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    line-height: 38px;
  }
  .prev,
  .next{
    position: relative;
    width: 155px;
    color: #fff;
    border: none;
    background-color: #c0bfc1;
    @media (max-width: 1024px){
      width: 39px;
      color: transparent;
      font-size: 0;
      &:before{
        left: 0;
        right: 0;
      }
    }
    &:before{
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 8px;
      height: 13px;
      background-repeat: no-repeat;
    }
    &:hover{
      background-color: #8bc34a;
      box-shadow: 0 5px 7.3px 0.7px rgba(0, 0, 0, 0.19);
    }
  }
  .prev{
    padding-right: 15px;
    text-align: right;
    letter-spacing: -1px;
    &:before{
      left: 15px;
      background-image: url(../img/pagination-arr-prev.svg);
    }
  }
  .next{
    padding-left: 15px;
    text-align: left;
    &:before{
      right: 15px;
      background-image: url(../img/pagination-arr-next.svg);
    }
  }
}




.ci-stars{
  display: none;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.65);
  span{
    width: 20px;
    height: 19px;
    margin-left: 5px;
    background-image: url(../img/star.svg);
    background-size: cover;
    cursor: pointer;
    &:hover{
      background-image: url(../img/star-h.svg) !important;
    }
    &.checked{
      background-image: url(../img/star-a.svg);
    }
  }
}





.jq-selectbox {
  width: 100%;
  vertical-align: middle;
  cursor: pointer;
  margin-bottom: 20px;
  &.opened{
    .jq-selectbox__trigger-arrow {
      border-top: none;
      border-bottom: 6px solid #fbfbfb;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
    }
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    min-height: 18px;
    padding: 5px 10px 6px 30px;
    user-select: none;
    white-space: nowrap;
    color: #231F20;
    &.selected,
    &:hover{
      background-color: @blue;
      color: #fff;
    }
    &.selected{
      filter: grayscale(1);
    }
    &:hover {
      filter: grayscale(0);
    }
  }
}
.jq-selectbox__select {
  height: 45px;
  padding: 0 45px 0 30px;
  background-color: #f4f4f4;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
}
.jq-selectbox__select-text {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 45px;
}
.jq-selectbox__trigger {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 37px;
  height: 37px;
  background-color: #464c59;
  border-radius: 2px;
}
.jq-selectbox__trigger-arrow {
  position: absolute;
  top: calc(~"50% - 3px");
  left: calc(~"50% - 5px");
  border-top: 6px solid #fbfbfb;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
.jq-selectbox__dropdown {
  width: 100%;
  margin: 2px 0 0;
  padding: 0;
  border-radius: 0 0 2px 2px;
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
  background-color: #fff;
  overflow: hidden;
}




.jq-radio {
  width: 26px;
  height: 25px;
  background-color: #e8ebec;
  box-shadow: inset 1px 1.7px 0 rgba(0, 0, 0, 0.09);
  top: -1px;
  vertical-align: middle;
  margin: 0 4px 0 0;
  border: 1px solid transparent;
  border-radius: 50%;
  cursor: pointer;
}
.jq-radio.checked .jq-radio__div {
  width: 14px;
  height: 14px;
  background-color: #2980b9;
  margin: 5px 0 0 5px;
  border-radius: 50%;
}
.jq-radio.focused {
  border-color: @blue;
}
.jq-radio.disabled {
  opacity: .55;
}









.component-page{
  .wrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 67vh;
  padding-top: 5%;
  padding-bottom: 5%;
  span{
    margin-bottom: 30px;
    font-size: 56px;
    text-align: center;
    @media (max-width: 1024px) {
      font-size: 44px;
    }
    @media (max-width: 800px) {
      font-size: 30px;
    }
  }
  img{
    max-width: 100%;
  }
  .sfc-links{
    margin-top: 30px;
    width: 100%;
  }
  a{
    color: #ffffff;
  }
}


.component-page--404{
  span{
    margin-bottom: 0;
  }
}