.constructor-page__main{
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 10px;
}


.constructor-wrap{
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.constructor-page__canvas{
  width: 100%;
}


.setting-txt-img{
  width: 267px;
  height: 340px;
  color: #2e2d37;
  background-color: white;
  border: 1px solid #dedede;
  p{
    position: relative;
    margin: 30px 0 30px 90px;
    cursor: pointer;
    &:hover{
      &:before{
        background-color: @blue;
      }
    }
    &:nth-child(1){
      &:before{
        background-image: url(../img/cancel.svg);
      }
    }
    &:nth-child(2){
      &:before{
        background-image: url(../img/level-arr.svg);
      }
    }
    &:nth-child(3){
      &:before{
        background-image: url(../img/level-arr.svg);
        transform: rotate(180deg);
      }
    }
    &:before{
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 115%;
      width: 33px;
      height: 33px;
      margin: auto;
      background: #363636 no-repeat center;
      border-radius: 50%;
      transition: .2s;
    }
  }
  label,
  input{
    cursor: pointer;
  }
}


.setting-txt-img__color{
  display: block;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
  input{
    width: 33px;
    height: 33px;
    margin-right: 23px;
    background-color: #f4f4f4;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .25);
    vertical-align: sub;
  }
}


.setting-txt-img__text{
  position: relative;
  display: block;
  margin-left: 90px;
  margin-bottom: 20px;
  &:before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 117%;
    width: 25px;
    height: 25px;
    margin: auto;
    background: url(../img/settings-txt-ing-text.svg) no-repeat center;
  }
  select{
    width: 95%;
    height: 37px;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
    border: none;
  }
}


.setting-txt-img__bold,
.setting-txt-img__italic{
  position: relative;
  padding-right: 15px;
  &:before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: #f4f4f4 no-repeat center;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
    z-index: 1;
  }
  &.active{
    &:before{
      background-image: url(../img/filter-check.svg);
    }
  }

}

.setting-txt-img__bold{
  font-weight: 700;
  margin-left: 90px;
  margin-right: 5px;
}
.setting-txt-img__italic{
  font-style: italic;
}