.site-footer{
  padding-top: 30px;
  background-color: #2a292d;
  color: #ffffff;
}


.sf-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  @media (max-width: 1070px) {
    justify-content: space-around;
  }
  @media (max-width: 610px) {
    flex-direction: column;
  }
}


.sf-logo{
  a{
    font-family: Quango, serif;
    font-size: 45px;
  }
  small{
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;
  }
}



.sf-nav{
  @media (max-width: 1135px){
    display: none;
  }
  ul{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 570px;
    width: 100%;
    padding: 0;
    font-size: 20px;
    list-style-type: none;
  }
  a{
    padding: 11px 20px;
    &.current{
      font-weight: 300;
    }
  }
}




.sf-contacts{
  text-align: right;
  line-height: 32px;
  @media (max-width: 610px){
    margin-top: 2.5%;
    text-align: center;
  }
  span{
    &:nth-child(2){
      display: block;
    }
  }
}



.cpr{
  display: block;
  margin-top: 30px;
  padding: 10px;
  color: @blue;
  text-align: right;
  background-color: #000000;
}