.site-header{
  display: flex;
  padding: 4px 0;
  box-shadow: 0 6px 17px 2px rgba(0, 1, 2, 0.19);
  @media (max-width: 768px){
    flex-direction: row-reverse;
  }
}


.sh-wrap{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  padding: 2.1% 0.6666666666666667% 1.8% 10px;
  @media (max-width: 1080px) {
    justify-content: space-around;
  }
  @media (max-width: 768px) {
    justify-content: flex-start;
  }
}


.sh-logo{
  a{
    font-family: Quango, serif;
    font-size: 45px;
    color: #303030;
    @media (max-width: 1200px) {
      font-size: 39px;
    }
    @media (max-width: 420px){
      font-size: 28px;
    }
  }
  span{
    &:nth-child(1){
      color: @pink;
    }
    &:nth-child(2){
      color: @blue;
    }
  }
  small{
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;
  }
}


.sh-nav{
  &.xs{
    position: absolute;
    ul{
      display: none;
    }
  }
  &.xs.active{
    ul{
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      max-width: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, .8);
      z-index: 200;
      a{
        display: block;
        margin: 5px;
        color: #ffffff;
      }
    }
  }
  &.xs:not(.active){
    top: 0;
    bottom: 0;
    right: 10px;
    width: 29px;
    height: 29px;
    margin: auto;
    cursor: pointer;
    &:before,
    &:after{
      content: '';
      position: absolute;
      width: 100%;
      height: 5px;
      background-color: #000;
    }
    &:after{
      bottom: 0;
      box-shadow: 0 -12px 0 0 #000;
    }
  }

  &.active{
    ul,
    + span{
      display: flex;
    }
  }

  ul{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 570px;
    width: 100%;
    padding: 0;
    font-size: 20px;
    list-style-type: none;
  }
  a{
    padding: 11px 20px;
    border-radius: 5px;
    &.current{
      padding-top: 9px;
      padding-bottom: 9px;
      border: 2px solid #d63fb1;
    }
  }
  + span{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto;
    display: none;
    width: 30px;
    height: 30px;
    z-index: 200;
    cursor: pointer;
    &:before,
    &:after{
      content: '';
      position: absolute;
      top: 13px;
      display: block;
      width: 100%;
      height: 4px;
      background-color: #a8a8b7;
    }
    &:before{
      transform: rotate(45deg);
    }
    &:after{
      transform: rotate(-45deg);
    }
  }
}


.sh-contacts{
  text-align: right;
  color: #303030;
  line-height: 32px;
  @media (min-width: 1199px) {
    font-size: 18px;
  }
  @media (max-width: 768px) {
    display: none;
  }
  span{
    &:nth-child(1){
      padding-left: 20px;
      background: url(../img/phone.svg) no-repeat left center;
    }
    &:nth-child(2){
      display: block;
    }
  }
}




.cart-link{
  display: none;
  position: relative;
  width: 96px;
  min-width: 65px;
  height: inherit;
  margin-left: 1.5625%;
  padding: 0;
  background: #f1cd09 url(../img/cart.svg) no-repeat 40%;
  border-radius: 5px;
  overflow: hidden;
  border: none;
  &.active{
    display: block;
  }
  @media (max-width: 768px){
    background-position-y: 90%;
  }
  &:hover{
    &:before{
      content: '';
    }
  }
  &:before{
    position: absolute;
    top: 0;
    left: 0;
    border-top: 130px solid rgba(255, 255, 255, 0.28);
    border-right: 90px solid transparent;
    @media (max-width: 768px){
      border-top-width: 95px;
    }
    @media (max-width: 420px){
      border-top-width: 65px;
      border-right-width: 80px;
    }
  }
  span{
    position: absolute;
    top: 15px;
    left: calc(~"50% - 13px");
    text-align: center;
    padding: 2px 8px;
    background-color: #fff;
    border-radius: 50%;
    font-size: 18px;
    font-weight: 700;
  }
}