.site-first {
  background: url(../img/dotted.png), url(../img/sf-choice.png) no-repeat bottom/contain;
  overflow: hidden;
  @media (max-width: 1024px){
    background-size: cover;
  }
}


.sf-top{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110%;
  height: 82vh;
  margin-left: -5%;
  background: url(http://lorempixum.com/1920/1080/) center no-repeat;
  background-size: cover;
  border-bottom-left-radius: 50% 100px;
  border-bottom-right-radius: 50% 100px;
  @media (max-width: 960px){
    p{
      font-size: 45px;
    }
    small{
      font-size: 33px;
    }
  }
  @media (max-width: 768px) {
    border-bottom-left-radius: 50% 50px;
    border-bottom-right-radius: 50% 50px;
    p{
      font-size: 34px;
    }
    small{
      font-size: 25px;
      padding-left: 120px;
    }
  }
  @media (max-width: 540px) {
    border-bottom-left-radius: 50% 20px;
    border-bottom-right-radius: 50% 20px;
    p{
      font-size: 43px;
    }
    small{
      padding-left: 0;
      font-size: 23px;
    }
  }
  @media (max-width: 400px) {
    p{
      font-size: 36px;
    }
    small{
      font-size: 20px;
    }
  }
  p{
    color: #ffffff;
    font-size: 59px;
    font-weight: 700;
    text-align: center;
    text-shadow: 0 25px 76px black;
  }
  small{
    display: block;
    padding-left: 250px;
    font-size: 45px;
    font-weight: 300;
  }
}


.sf-choice{
  max-width: 1170px;
  margin: 0 auto;
  padding: 70px 15px 12.6%;
  color: #ffffff;
  p{
    margin-bottom: 100px;
    font-size: 45px;
    font-weight: 500;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
  }
  small{
    display: block;
    padding-left: 305px;
    color: #f1cd09;
    font-size: 40px;
    text-transform: lowercase;
    @media (max-width: 520px){
      padding: 10px 0 0;
    }
  }
}


.sfc-links{
  display: flex;
  justify-content: space-between;
  @media (max-width: 860px){
    justify-content: space-around;
  }
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    a+a{
      margin-top: 20px;
    }
  }
  a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 508px;
    height: 84px;
    font-size: 25px;
    font-weight: 500;
    border-radius: 5px;
    @media (max-width: 1080px) {
      width: 450px;
      height: 75px;
    }
    @media (max-width: 960px){
      width: 400px;
      height: 70px;
    }
    @media (max-width: 860px){
      width: 295px;
      height: 65px;
      font-size: 20px;
    }
    &:nth-of-type(1){
      background-color: @green;
    }
    &:nth-of-type(2){
      background-color: #d500f9;
    }
  }
}




.top-phones{
  padding: 5.625% 10px 4.375%;
  background-image: url(../img/top-phones.jpg);
  background-size: cover;
  h3{
    margin-bottom: 4.375%;
    color: #292736;
    font-size: 25px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    @media (max-width: 470px){
      font-size: 20px;
    }
  }
}


.tp-models{
  max-width: 1400px;
  margin: 0 auto 4.375%;
  padding: 0;
  list-style-type: none;
  &:not(.xs){
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-height: 295px;
    .tp-model{
      flex-basis: 140px;
      transition: .3s;
      &:hover{
        flex-basis: 160px;
      }
    }
  }
  &.xs{
    min-height: 295px;
    .tp-model{
      text-align: center;
      img{
        max-width: 140px;
      }
    }
  }
}


.tp-model{
  position: relative;
  img{
    max-width: 100%;
  }
  p{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 17px;
  }
}


.tp-notfound{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
  width: 408px;
  height: 58px;
  background-color: @blue;
  border-radius: 4px;
  color: #ffffff;
  font-size: 21px;
  font-weight: 500;
  @media (max-width: 400px){
    height: 50px;
    font-size: 17px;
  }
}




.our-plus{
  padding-top: 4.6875%;
  padding-bottom: 4.6875%;
  background-image: url(../img/our-plus.jpg);
  background-size: cover;
  color: #ffffff;
  h2{
    margin-bottom: 4.6875%;
    font-size: 38px;
    text-align: center;
  }
}


.op-items{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1460px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  @media (max-width: 1024px){
    flex-wrap: wrap;
    justify-content: space-around;
  }
}


.op-item{
  flex-basis: 337px;
  @media (min-width: 1024px){
    &:not(:last-child){
      margin-right: 2.5%;
    }
  }
  @media (max-width: 1024px){
    flex-basis: 45%;
    margin-bottom: 5%;
    &:nth-child(2n){
      margin-left: 4%;
    }
  }
  @media (max-width: 600px) {
    flex-basis: 337px;
    &:nth-child(2n){
      margin-left: 0;
    }
  }
  img{
    max-width: 100%;
  }
  h4{
    margin-top: 13%;
    margin-bottom: 8.902077151335312%;
    color: #f1cd09;
    font-size: 25px;
    font-weight: 300;
    @media (min-width: 1024px) and (max-width: 1150px) {
      font-size: 22px;
    }
  }
  p{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    @media (min-width: 1024px) and (max-width: 1150px) {
      font-size: 16px;
    }
  }
}




.about_works{
  background: url(../img/about_works.jpg) bottom/contain no-repeat;
  overflow: hidden;
  @media (max-width: 1024px){
    background-size: cover;
  }
}


.a-text{
  width: 110%;
  margin-left: -5%;
  padding: 5.625% 7% 7.1875%;
  background: url(../img/a-text.jpg) center/cover;
  border-bottom-left-radius: 50% 100px;
  border-bottom-right-radius: 50% 100px;
  @media (max-width: 768px) {
    border-bottom-left-radius: 50% 50px;
    border-bottom-right-radius: 50% 50px;
  }
  @media (max-width: 540px) {
    border-bottom-left-radius: 50% 20px;
    border-bottom-right-radius: 50% 20px;
  }
}


.at-wrap{
  max-width: 830px;
  margin: auto;
  font-size: 10px;
  @media (max-width: 800px){
    font-size: 9px;
  }
  @media (max-width: 735px){
    font-size: 8px;
  }
  h3{
    margin-bottom: 4.375%;
    color: #272432;
    font-size: 3.5em;
  }
  h4{
    margin-top: 2.8125%;
    margin-bottom: 1.875%;
    color: #dd8461;
    font-size: 2.6em;
    font-weight: 300;
  }
  p{
    color: #2f2f2f;
    font-size: 2em;
    line-height: 1.4;
  }
}




.w-wrap{
  padding-top: 5%;
  padding-bottom: 5.625%;
  h2{
    margin-bottom: 4.375%;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
  }
  .lSSlideOuter,
  .lSSlideWrapper{
    overflow: visible;
  }
}


.w-slider{
  width: 92.5%;
  margin: 0 auto;
}