.instructions-main{
  max-width: 1024px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  .h2{
    margin-bottom: 2.93%;
  }
  .h5{
    margin-bottom: 17px;
    color: @orange;
    font-weight: 300;
  }
  strong{
    font-weight: 500;
  }
  li{
    margin-bottom: 1.61%;
    font-size: 19px;
  }
}

.instructions-main-item{
  margin-bottom: 7.14%;
}


.instructions-main-item__contacts-bottom{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  @media (max-width: 1000px) {
    flex-direction: column;
    align-items: center;
    .instructions-main-item__contacts-bottom__form{
      margin-top: 15px;
      margin-left: 0;
    }
  }
}


.instructions-main-item__contacts-bottom__map{
  position: relative;
  width: 100%;
  height: 300px;
}


.instructions-main-item__contacts-bottom__form{
  max-width: 310px;
  width: 100%;
  margin-left: 30px;
  font-size: 16px;
  input,
  textarea{
    width: 100%;
    padding-left: 16px;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    &:active,
    &:focus{
      border: 1px solid #00b6ee;
    }
    &::placeholder{
      font-weight: 300;
      color: #2a2934;
    }
  }
  input{
    height: 39px;
    border: 1px solid #e9e9e9;
    + input,
    &[type=submit]{
      margin-top: 10px;
    }
    &[type=submit]{
      background-color: @blue;
      color: #ffffff;
      font-size: 18px;
    }
  }
  textarea{
    margin-top: 10px;
    height: 100px;
  }
}