@import "../lib/lightslider/css/lightslider.min.css";
@import "fonts";
@import "base";
@import "mixins";
@import "components";

@roboto: Roboto, sans-serif;

@pink: #b829c5;
@blue: #35b5eb;
@green: #8bc34a;
@orange: #dd8461;
@yellow: #f1cd09;




body{
  font-family: @roboto;
}

a{
  text-decoration: none;
}

.h1,.h2,.h3,.h4,.h5,.h6{
  font-family: @roboto;
  font-weight: 400;
}

.h1{
  font-size: 38px;
}

.h2{
  font-size: 35px;
}

.h3{
  font-size: 30px;
}

.h4{
  font-size: 28px;
}

.h5{
  font-size: 26px;
}

.h6{
  font-size: 22px;
}



@import "header";
@import "index";
@import "catalog";
@import "catalog_item";
@import "constructor";
@import "instructions";
@import "cart";

@import "aside";
@import "footer";