@import "../lib/lightslider/css/lightslider.min.css";@font-face {
	font-family: 'Quango';
	src: url('../fonts/q/q.eot');
	src: url('../fonts/q/q.eot?#iefix') format('embedded-opentype'), url('../fonts/q/q.woff2') format('woff2'), url('../fonts/q/q.woff') format('woff'), url('../fonts/q/q.ttf') format('truetype'), url('../fonts/q/q.svg#quangobold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/r/r-1.eot');
	src: url('../fonts/r/r-1.eot?#iefix') format('embedded-opentype'), url('../fonts/r/r-1.woff2') format('woff2'), url('../fonts/r/r-1.woff') format('woff'), url('../fonts/r/r-1.ttf') format('truetype'), url('../fonts/r/r-1.svg#open_sanslight') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/r/r-1i.eot');
	src: url('../fonts/r/r-1i.eot?#iefix') format('embedded-opentype'), url('../fonts/r/r-1i.woff2') format('woff2'), url('../fonts/r/r-1i.woff') format('woff'), url('../fonts/r/r-1i.ttf') format('truetype'), url('../fonts/r/r-1i.svg#open_sanslight_italic') format('svg');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/r/r-3.eot');
	src: url('../fonts/r/r-3.eot?#iefix') format('embedded-opentype'), url('../fonts/r/r-3.woff2') format('woff2'), url('../fonts/r/r-3.woff') format('woff'), url('../fonts/r/r-3.ttf') format('truetype'), url('../fonts/r/r-3.svg#open_sanslight') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/r/r-3i.eot');
	src: url('../fonts/r/r-3i.eot?#iefix') format('embedded-opentype'), url('../fonts/r/r-3i.woff2') format('woff2'), url('../fonts/r/r-3i.woff') format('woff'), url('../fonts/r/r-3i.ttf') format('truetype'), url('../fonts/r/r-3i.svg#open_sanslight_italic') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/r/r-4.eot');
	src: url('../fonts/r/r-4.eot?#iefix') format('embedded-opentype'), url('../fonts/r/r-4.woff2') format('woff2'), url('../fonts/r/r-4.woff') format('woff'), url('../fonts/r/r-4.ttf') format('truetype'), url('../fonts/r/r-4.svg#open_sansregular') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/r/r-4i.eot');
	src: url('../fonts/r/r-4i.eot?#iefix') format('embedded-opentype'), url('../fonts/r/r-4i.woff2') format('woff2'), url('../fonts/r/r-4i.woff') format('woff'), url('../fonts/r/r-4i.ttf') format('truetype'), url('../fonts/r/r-4i.svg#open_sansitalic') format('svg');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/r/r-5.eot');
	src: url('../fonts/r/r-5.eot?#iefix') format('embedded-opentype'), url('../fonts/r/r-5.woff2') format('woff2'), url('../fonts/r/r-5.woff') format('woff'), url('../fonts/r/r-5.ttf') format('truetype'), url('../fonts/r/r-5.svg#open_sanssemibold') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/r/r-5i.eot');
	src: url('../fonts/r/r-5i.eot?#iefix') format('embedded-opentype'), url('../fonts/r/r-5i.woff2') format('woff2'), url('../fonts/r/r-5i.woff') format('woff'), url('../fonts/r/r-5i.ttf') format('truetype'), url('../fonts/r/r-5i.svg#open_sanssemibold_italic') format('svg');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/r/r-7.eot');
	src: url('../fonts/r/r-7.eot?#iefix') format('embedded-opentype'), url('../fonts/r/r-7.woff2') format('woff2'), url('../fonts/r/r-7.woff') format('woff'), url('../fonts/r/r-7.ttf') format('truetype'), url('../fonts/r/r-7.svg#open_sansbold') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/r/r-7i.eot');
	src: url('../fonts/r/r-7i.eot?#iefix') format('embedded-opentype'), url('../fonts/r/r-7i.woff2') format('woff2'), url('../fonts/r/r-7i.woff') format('woff'), url('../fonts/r/r-7i.ttf') format('truetype'), url('../fonts/r/r-7i.svg#open_sansbold_italic') format('svg');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/r/r-9.eot');
	src: url('../fonts/r/r-9.eot?#iefix') format('embedded-opentype'), url('../fonts/r/r-9.woff2') format('woff2'), url('../fonts/r/r-9.woff') format('woff'), url('../fonts/r/r-9.ttf') format('truetype'), url('../fonts/r/r-9.svg#open_sansextrabold') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/r/r-9i.eot');
	src: url('../fonts/r/r-9i.eot?#iefix') format('embedded-opentype'), url('../fonts/r/r-9i.woff2') format('woff2'), url('../fonts/r/r-9i.woff') format('woff'), url('../fonts/r/r-9i.ttf') format('truetype'), url('../fonts/r/r-9i.svg#open_sansextrabold_italic') format('svg');
	font-weight: 900;
	font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	font: inherit;
}

button,
input,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
input[type=submit] {
	cursor: pointer; /* 3 */
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	margin: 0;
}

a {
	color: inherit;
}

a,
button,
input,
textarea {
	outline: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

textarea {
	resize: vertical;
}

ul {
	margin: 0;
}

.breadcrumbs {
	padding-top: 2.14%;
	padding-bottom: 2.38%;
	color: #272727;
	font-weight: 300;
}

.breadcrumbs a {
	color: #35b5eb;
	text-decoration: underline;
}

.breadcrumbs a:hover {
	text-decoration: none;
}

.btn {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	max-width: 100%;
	width: 350px;
	height: 58px;
	margin: 0 auto;
	color: #ffffff;
	font-size: 18px;
	font-weight: 500;
	background-color: #35b5eb;
	border: none;
	border-radius: 3px;
	box-shadow: 0 6px 20px rgba(0, 1, 2, 0.19);
}

.pagination {
	margin-top: 25px;
	margin-bottom: 55px;
	text-align: center;
}

.pagination .page,
.pagination .prev,
.pagination .next {
	display: inline-block;
	width: 39px;
	height: 38px;
	line-height: 36px;
	border: 1px solid #efc7b7;
	border-radius: 5px;
	vertical-align: middle;
}

.pagination .page {
	color: #000000;
}

.pagination .page:hover:not(.current):not(.dots) {
	border-color: #a4d228;
	color: #a4d228;
}

.pagination .current,
.pagination .dots {
	cursor: default;
}

.pagination .current {
	border: none;
	background-color: #dd8461;
	box-shadow: inset 0 3px 5.7px 0.3px rgba(0, 0, 0, 0.2);
	color: #ffffff;
	line-height: 38px;
}

.pagination .prev,
.pagination .next {
	position: relative;
	width: 155px;
	color: #fff;
	border: none;
	background-color: #c0bfc1;
}

.pagination .prev:before,
.pagination .next:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 8px;
	height: 13px;
	background-repeat: no-repeat;
}

.pagination .prev:hover,
.pagination .next:hover {
	background-color: #8bc34a;
	box-shadow: 0 5px 7.3px 0.7px rgba(0, 0, 0, 0.19);
}

.pagination .prev {
	padding-right: 15px;
	text-align: right;
	letter-spacing: -1px;
}

.pagination .prev:before {
	left: 15px;
	background-image: url(../img/pagination-arr-prev.svg);
}

.pagination .next {
	padding-left: 15px;
	text-align: left;
}

.pagination .next:before {
	right: 15px;
	background-image: url(../img/pagination-arr-next.svg);
}

.ci-stars {
	display: none;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 8px;
	background-color: rgba(0, 0, 0, 0.65);
}

.ci-stars span {
	width: 20px;
	height: 19px;
	margin-left: 5px;
	background-image: url(../img/star.svg);
	background-size: cover;
	cursor: pointer;
}

.ci-stars span:hover {
	background-image: url(../img/star-h.svg) !important;
}

.ci-stars span.checked {
	background-image: url(../img/star-a.svg);
}

.jq-selectbox {
	width: 100%;
	vertical-align: middle;
	cursor: pointer;
	margin-bottom: 20px;
}

.jq-selectbox.opened .jq-selectbox__trigger-arrow {
	border-top: none;
	border-bottom: 6px solid #fbfbfb;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}

.jq-selectbox ul {
	margin: 0;
	padding: 0;
}

.jq-selectbox li {
	min-height: 18px;
	padding: 5px 10px 6px 30px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
	color: #231F20;
}

.jq-selectbox li.selected,
.jq-selectbox li:hover {
	background-color: #35b5eb;
	color: #fff;
}

.jq-selectbox li.selected {
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}

.jq-selectbox li:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.jq-selectbox__select {
	height: 45px;
	padding: 0 45px 0 30px;
	background-color: #f4f4f4;
	border-radius: 2px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
}

.jq-selectbox__select-text {
	display: block;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 45px;
}

.jq-selectbox__trigger {
	position: absolute;
	top: 4px;
	right: 4px;
	width: 37px;
	height: 37px;
	background-color: #464c59;
	border-radius: 2px;
}

.jq-selectbox__trigger-arrow {
	position: absolute;
	top: calc(50% - 3px);
	left: calc(50% - 5px);
	border-top: 6px solid #fbfbfb;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}

.jq-selectbox__dropdown {
	width: 100%;
	margin: 2px 0 0;
	padding: 0;
	border-radius: 0 0 2px 2px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	background-color: #fff;
	overflow: hidden;
}

.jq-radio {
	width: 26px;
	height: 25px;
	background-color: #e8ebec;
	box-shadow: inset 1px 1.7px 0 rgba(0, 0, 0, 0.09);
	top: -1px;
	vertical-align: middle;
	margin: 0 4px 0 0;
	border: 1px solid transparent;
	border-radius: 50%;
	cursor: pointer;
}

.jq-radio.checked .jq-radio__div {
	width: 14px;
	height: 14px;
	background-color: #2980b9;
	margin: 5px 0 0 5px;
	border-radius: 50%;
}

.jq-radio.focused {
	border-color: #35b5eb;
}

.jq-radio.disabled {
	opacity: .55;
}

.component-page {
	max-width: 1160px;
	margin: 0 auto;
	padding-right: 10px;
	padding-left: 10px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	min-height: 67vh;
	padding-top: 5%;
	padding-bottom: 5%;
}

.component-page span {
	margin-bottom: 30px;
	font-size: 56px;
	text-align: center;
}

.component-page img {
	max-width: 100%;
}

.component-page .sfc-links {
	margin-top: 30px;
	width: 100%;
}

.component-page a {
	color: #ffffff;
}

.component-page--404 span {
	margin-bottom: 0;
}

body {
	font-family: Roboto, sans-serif;
}

a {
	text-decoration: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: Roboto, sans-serif;
	font-weight: 400;
}

.h1 {
	font-size: 38px;
}

.h2 {
	font-size: 35px;
}

.h3 {
	font-size: 30px;
}

.h4 {
	font-size: 28px;
}

.h5 {
	font-size: 26px;
}

.h6 {
	font-size: 22px;
}

.site-header {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 4px 0;
	box-shadow: 0 6px 17px 2px rgba(0, 1, 2, 0.19);
}

.sh-wrap {
	position: relative;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	max-width: 1500px;
	width: 100%;
	margin: 0 auto;
	padding: 2.1% 0.6666666666666667% 1.8% 10px;
}

.sh-logo a {
	font-family: Quango, serif;
	font-size: 45px;
	color: #303030;
}

.sh-logo span:nth-child(1) {
	color: #b829c5;
}

.sh-logo span:nth-child(2) {
	color: #35b5eb;
}

.sh-logo small {
	display: block;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 300;
}

.sh-nav.xs {
	position: absolute;
}

.sh-nav.xs ul {
	display: none;
}

.sh-nav.xs.active ul {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: none;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 200;
}

.sh-nav.xs.active ul a {
	display: block;
	margin: 5px;
	color: #ffffff;
}

.sh-nav.xs:not(.active) {
	top: 0;
	bottom: 0;
	right: 10px;
	width: 29px;
	height: 29px;
	margin: auto;
	cursor: pointer;
}

.sh-nav.xs:not(.active):before,
.sh-nav.xs:not(.active):after {
	content: '';
	position: absolute;
	width: 100%;
	height: 5px;
	background-color: #000;
}

.sh-nav.xs:not(.active):after {
	bottom: 0;
	box-shadow: 0 -12px 0 0 #000;
}

.sh-nav.active ul,
.sh-nav.active + span {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.sh-nav ul {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	max-width: 570px;
	width: 100%;
	padding: 0;
	font-size: 20px;
	list-style-type: none;
}

.sh-nav a {
	padding: 11px 20px;
	border-radius: 5px;
}

.sh-nav a.current {
	padding-top: 9px;
	padding-bottom: 9px;
	border: 2px solid #d63fb1;
}

.sh-nav + span {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 10px;
	margin: auto;
	display: none;
	width: 30px;
	height: 30px;
	z-index: 200;
	cursor: pointer;
}

.sh-nav + span:before,
.sh-nav + span:after {
	content: '';
	position: absolute;
	top: 13px;
	display: block;
	width: 100%;
	height: 4px;
	background-color: #a8a8b7;
}

.sh-nav + span:before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.sh-nav + span:after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.sh-contacts {
	text-align: right;
	color: #303030;
	line-height: 32px;
}

.sh-contacts span:nth-child(1) {
	padding-left: 20px;
	background: url(../img/phone.svg) no-repeat left center;
}

.sh-contacts span:nth-child(2) {
	display: block;
}

.cart-link {
	display: none;
	position: relative;
	width: 96px;
	min-width: 65px;
	height: inherit;
	margin-left: 1.5625%;
	padding: 0;
	background: #f1cd09 url(../img/cart.svg) no-repeat 40%;
	border-radius: 5px;
	overflow: hidden;
	border: none;
}

.cart-link.active {
	display: block;
}

.cart-link:hover:before {
	content: '';
}

.cart-link:before {
	position: absolute;
	top: 0;
	left: 0;
	border-top: 130px solid rgba(255, 255, 255, 0.28);
	border-right: 90px solid transparent;
}

.cart-link span {
	position: absolute;
	top: 15px;
	left: calc(50% - 13px);
	text-align: center;
	padding: 2px 8px;
	background-color: #fff;
	border-radius: 50%;
	font-size: 18px;
	font-weight: 700;
}

.site-first {
	background: url(../img/dotted.png), url(../img/sf-choice.png) no-repeat bottom / contain;
	overflow: hidden;
}

.sf-top {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	width: 110%;
	height: 82vh;
	margin-left: -5%;
	background: url(http://lorempixum.com/1920/1080/) center no-repeat;
	background-size: cover;
	border-bottom-left-radius: 50% 100px;
	border-bottom-right-radius: 50% 100px;
}

.sf-top p {
	color: #ffffff;
	font-size: 59px;
	font-weight: 700;
	text-align: center;
	text-shadow: 0 25px 76px black;
}

.sf-top small {
	display: block;
	padding-left: 250px;
	font-size: 45px;
	font-weight: 300;
}

.sf-choice {
	max-width: 1170px;
	margin: 0 auto;
	padding: 70px 15px 12.6%;
	color: #ffffff;
}

.sf-choice p {
	margin-bottom: 100px;
	font-size: 45px;
	font-weight: 500;
	line-height: 27px;
	text-align: center;
	text-transform: uppercase;
}

.sf-choice small {
	display: block;
	padding-left: 305px;
	color: #f1cd09;
	font-size: 40px;
	text-transform: lowercase;
}

.sfc-links {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.sfc-links a {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 508px;
	height: 84px;
	font-size: 25px;
	font-weight: 500;
	border-radius: 5px;
}

.sfc-links a:nth-of-type(1) {
	background-color: #8bc34a;
}

.sfc-links a:nth-of-type(2) {
	background-color: #d500f9;
}

.top-phones {
	padding: 5.625% 10px 4.375%;
	background-image: url(../img/top-phones.jpg);
	background-size: cover;
}

.top-phones h3 {
	margin-bottom: 4.375%;
	color: #292736;
	font-size: 25px;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
}

.tp-models {
	max-width: 1400px;
	margin: 0 auto 4.375%;
	padding: 0;
	list-style-type: none;
}

.tp-models:not(.xs) {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	max-height: 295px;
}

.tp-models:not(.xs) .tp-model {
	-webkit-flex-basis: 140px;
	-ms-flex-preferred-size: 140px;
	flex-basis: 140px;
	transition: .3s;
}

.tp-models:not(.xs) .tp-model:hover {
	-webkit-flex-basis: 160px;
	-ms-flex-preferred-size: 160px;
	flex-basis: 160px;
}

.tp-models.xs {
	min-height: 295px;
}

.tp-models.xs .tp-model {
	text-align: center;
}

.tp-models.xs .tp-model img {
	max-width: 140px;
}

.tp-model {
	position: relative;
}

.tp-model img {
	max-width: 100%;
}

.tp-model p {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	color: #ffffff;
	font-size: 17px;
}

.tp-notfound {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	max-width: 100%;
	margin: 0 auto;
	width: 408px;
	height: 58px;
	background-color: #35b5eb;
	border-radius: 4px;
	color: #ffffff;
	font-size: 21px;
	font-weight: 500;
}

.our-plus {
	padding-top: 4.6875%;
	padding-bottom: 4.6875%;
	background-image: url(../img/our-plus.jpg);
	background-size: cover;
	color: #ffffff;
}

.our-plus h2 {
	margin-bottom: 4.6875%;
	font-size: 38px;
	text-align: center;
}

.op-items {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	max-width: 1460px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}

.op-item {
	-webkit-flex-basis: 337px;
	-ms-flex-preferred-size: 337px;
	flex-basis: 337px;
}

.op-item img {
	max-width: 100%;
}

.op-item h4 {
	margin-top: 13%;
	margin-bottom: 8.902077151335312%;
	color: #f1cd09;
	font-size: 25px;
	font-weight: 300;
}

.op-item p {
	font-size: 18px;
	font-weight: 400;
	line-height: 1.5;
}

.about_works {
	background: url(../img/about_works.jpg) bottom / contain no-repeat;
	overflow: hidden;
}

.a-text {
	width: 110%;
	margin-left: -5%;
	padding: 5.625% 7% 7.1875%;
	background: url(../img/a-text.jpg) center / cover;
	border-bottom-left-radius: 50% 100px;
	border-bottom-right-radius: 50% 100px;
}

.at-wrap {
	max-width: 830px;
	margin: auto;
	font-size: 10px;
}

.at-wrap h3 {
	margin-bottom: 4.375%;
	color: #272432;
	font-size: 3.5em;
}

.at-wrap h4 {
	margin-top: 2.8125%;
	margin-bottom: 1.875%;
	color: #dd8461;
	font-size: 2.6em;
	font-weight: 300;
}

.at-wrap p {
	color: #2f2f2f;
	font-size: 2em;
	line-height: 1.4;
}

.w-wrap {
	padding-top: 5%;
	padding-bottom: 5.625%;
}

.w-wrap h2 {
	margin-bottom: 4.375%;
	color: #ffffff;
	font-size: 30px;
	text-align: center;
}

.w-wrap .lSSlideOuter,
.w-wrap .lSSlideWrapper {
	overflow: visible;
}

.w-slider {
	width: 92.5%;
	margin: 0 auto;
}

.catalog-page:after {
	content: '';
	display: table;
	clear: both;
}

.m-top {
	position: relative;
}

.m-top img {
	width: 100%;
	max-width: 100%;
	max-height: 450px;
}

.m-top div {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.m-top p {
	padding: 10px;
	font-size: 39px;
	font-weight: 700;
	color: #ffffff;
	text-align: center;
	text-shadow: 0 6px 32px #000102;
}

.m-top strong {
	color: #f1cd09;
}

.catalog-items {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-right: 1.25%;
}

.c-item {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	max-width: 194px;
	margin-bottom: 35px;
	margin-right: 5px;
}

.c-item:hover .ci-title {
	color: #ffffff;
	background-color: #dd8461;
}

.c-item:hover .ci-title:before {
	content: '';
}

.c-item:hover .ci-stars {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.c-item a {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	position: relative;
}

.c-item img {
	border-radius: 5px;
}

.ci-title {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	height: 65px;
	padding: 0 20px;
	color: #272727;
	font-weight: 300;
	border-radius: 0 0 5px 5px;
}

.ci-title:before {
	position: absolute;
	bottom: 100%;
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;
	border-bottom: 10px solid #dd8461;
}

.create-skin {
	margin-bottom: 20px;
	padding: 3.515625% 10px 3.90625%;
	text-align: center;
	background-color: #ededed;
}

.create-skin p {
	margin-bottom: 25px;
	font-size: 30px;
	font-weight: 300;
}

.catalog-item-page {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.ci-img {
	margin-bottom: 20px;
}

.ci-img-wrap {
	position: relative;
	top: 2px;
	margin-bottom: 4.6875%;
	box-shadow: 0 6px 20px rgba(0, 1, 2, 0.19);
}

.ci-img-wrap img {
	display: block;
	width: 100%;
}

.ci-img-bottom {
	position: relative;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 24px;
	border-top: 8px solid #dd8461;
}

.ci-img-bottom:before {
	content: '';
	position: absolute;
	top: 0;
	left: 10%;
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;
	border-top: 10px solid #dd8461;
}

.ci-img-bottom h2 {
	font-size: 22px;
	font-weight: 500;
}

.ci-img-bottom .ci-stars {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	position: static;
	background-color: transparent;
}

.constructor-page__main {
	max-width: 1600px;
	margin: 0 auto;
	padding-left: 10px;
}

.constructor-wrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
}

.constructor-page__canvas {
	width: 100%;
}

.setting-txt-img {
	width: 267px;
	height: 340px;
	color: #2e2d37;
	background-color: white;
	border: 1px solid #dedede;
}

.setting-txt-img p {
	position: relative;
	margin: 30px 0 30px 90px;
	cursor: pointer;
}

.setting-txt-img p:hover:before {
	background-color: #35b5eb;
}

.setting-txt-img p:nth-child(1):before {
	background-image: url(../img/cancel.svg);
}

.setting-txt-img p:nth-child(2):before {
	background-image: url(../img/level-arr.svg);
}

.setting-txt-img p:nth-child(3):before {
	background-image: url(../img/level-arr.svg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.setting-txt-img p:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	right: 115%;
	width: 33px;
	height: 33px;
	margin: auto;
	background: #363636 no-repeat center;
	border-radius: 50%;
	transition: .2s;
}

.setting-txt-img label,
.setting-txt-img input {
	cursor: pointer;
}

.setting-txt-img__color {
	display: block;
	margin-left: 30px;
	margin-top: 30px;
	margin-bottom: 20px;
}

.setting-txt-img__color input {
	width: 33px;
	height: 33px;
	margin-right: 23px;
	background-color: #f4f4f4;
	border-radius: 2px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
	vertical-align: sub;
}

.setting-txt-img__text {
	position: relative;
	display: block;
	margin-left: 90px;
	margin-bottom: 20px;
}

.setting-txt-img__text:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	right: 117%;
	width: 25px;
	height: 25px;
	margin: auto;
	background: url(../img/settings-txt-ing-text.svg) no-repeat center;
}

.setting-txt-img__text select {
	width: 95%;
	height: 37px;
	border-radius: 2px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
	border: none;
}

.setting-txt-img__bold,
.setting-txt-img__italic {
	position: relative;
	padding-right: 15px;
}

.setting-txt-img__bold:before,
.setting-txt-img__italic:before {
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	background: #f4f4f4 no-repeat center;
	border-radius: 2px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
	z-index: 1;
}

.setting-txt-img__bold.active:before,
.setting-txt-img__italic.active:before {
	background-image: url(../img/filter-check.svg);
}

.setting-txt-img__bold {
	font-weight: 700;
	margin-left: 90px;
	margin-right: 5px;
}

.setting-txt-img__italic {
	font-style: italic;
}

.instructions-main {
	max-width: 1024px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 20px;
}

.instructions-main .h2 {
	margin-bottom: 2.93%;
}

.instructions-main .h5 {
	margin-bottom: 17px;
	color: #dd8461;
	font-weight: 300;
}

.instructions-main strong {
	font-weight: 500;
}

.instructions-main li {
	margin-bottom: 1.61%;
	font-size: 19px;
}

.instructions-main-item {
	margin-bottom: 7.14%;
}

.instructions-main-item__contacts-bottom {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-top: 30px;
}

.instructions-main-item__contacts-bottom__map {
	position: relative;
	width: 100%;
	height: 300px;
}

.instructions-main-item__contacts-bottom__form {
	max-width: 310px;
	width: 100%;
	margin-left: 30px;
	font-size: 16px;
}

.instructions-main-item__contacts-bottom__form input,
.instructions-main-item__contacts-bottom__form textarea {
	width: 100%;
	padding-left: 16px;
	border: 1px solid #e9e9e9;
	border-radius: 5px;
}

.instructions-main-item__contacts-bottom__form input:active,
.instructions-main-item__contacts-bottom__form textarea:active,
.instructions-main-item__contacts-bottom__form input:focus,
.instructions-main-item__contacts-bottom__form textarea:focus {
	border: 1px solid #00b6ee;
}

.instructions-main-item__contacts-bottom__form input::-webkit-input-placeholder,
.instructions-main-item__contacts-bottom__form textarea::-webkit-input-placeholder {
	font-weight: 300;
	color: #2a2934;
}

.instructions-main-item__contacts-bottom__form input::-moz-placeholder,
.instructions-main-item__contacts-bottom__form textarea::-moz-placeholder {
	font-weight: 300;
	color: #2a2934;
}

.instructions-main-item__contacts-bottom__form input:-ms-input-placeholder,
.instructions-main-item__contacts-bottom__form textarea:-ms-input-placeholder {
	font-weight: 300;
	color: #2a2934;
}

.instructions-main-item__contacts-bottom__form input::placeholder,
.instructions-main-item__contacts-bottom__form textarea::placeholder {
	font-weight: 300;
	color: #2a2934;
}

.instructions-main-item__contacts-bottom__form input {
	height: 39px;
	border: 1px solid #e9e9e9;
}

.instructions-main-item__contacts-bottom__form input + input,
.instructions-main-item__contacts-bottom__form input[type=submit] {
	margin-top: 10px;
}

.instructions-main-item__contacts-bottom__form input[type=submit] {
	background-color: #35b5eb;
	color: #ffffff;
	font-size: 18px;
}

.instructions-main-item__contacts-bottom__form textarea {
	margin-top: 10px;
	height: 100px;
}

.order-page {
	max-width: 1280px;
	margin: 0 auto;
	padding-right: 10px;
	padding-left: 10px;
	min-height: 70vh;
}

.order-page__tabs-header {
	max-width: 1070px;
	margin: 0 auto;
	padding-right: 10px;
	padding-left: 10px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-top: 60px;
	margin-bottom: 30px;
	padding: 0;
	border-bottom: 2px solid #bdc3c7;
	color: #bdc3c7;
	font-size: 22px;
	list-style-type: none;
}

.order-page__tabs-header li {
	margin-bottom: -3px;
	padding-bottom: 15px;
}

.order-page__tabs-header li.active {
	color: #000;
	border-bottom: 5px solid #35b5eb;
}

.cart-tab,
.contacts-tab,
.payment-tab {
	display: none !important;
}

.cart-tab.active,
.contacts-tab.active,
.payment-tab.active {
	display: block !important;
}

.cart-tab {
	overflow-x: auto;
}

.cart-tab__content {
	border: 2px solid #35b5eb;
	border-radius: 5px;
	min-width: 704px;
}

.cart-tab__content table {
	min-width: 700px;
	width: 100%;
}

.cart-tab__content thead {
	border: 10px solid #35b5eb;
	border-left: none;
	border-right: none;
}

.cart-tab__content tbody {
	border-radius: 5px;
}

.cart-tab__content th {
	height: 61px;
	font-size: 20px;
	font-weight: 500;
	border: 1px solid #35b5eb;
	border-bottom: 10px solid #35b5eb;
}

.cart-tab__content tr:last-of-type td {
	border-bottom: none;
}

.cart-tab__content td {
	padding: 10px;
	font-size: 18px;
	text-align: center;
	border: 1px solid rgba(154, 154, 154, 0.57);
}

.cart-tab__content td:first-of-type {
	border-left: none;
}

.cart-tab__content td:nth-child(4) {
	width: 140px;
}

.cart-tab__content td:nth-child(4) button {
	width: 41px;
	height: 41px;
	background-color: #35b5eb;
	border: none;
	border-radius: 2px;
}

.cart-tab__content td:nth-child(4) button:hover {
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
}

.cart-tab__content td:nth-child(5) {
	width: 110px;
}

.cart-tab__content td:last-of-type {
	width: 100px;
	border: none;
}

.cart-tab__content td:last-of-type button {
	width: 65px;
	height: 63px;
	background: transparent url(../img/recycle.svg) no-repeat center;
	background-size: 27px;
	border: none;
}

.cart-tab__content td:last-of-type button:hover {
	background-color: #35b5eb;
}

.cart-tab__content img {
	display: block;
	margin: 0 auto;
}

.contacts-tab form {
	max-width: 860px;
	margin: auto;
}

.contacts-tab input,
.contacts-tab textarea {
	width: 100%;
	padding-left: 30px;
	padding-right: 40px;
	border: 1px solid #9b9b9b;
	border-radius: 5px;
	box-shadow: 0 0 3px rgba(149, 175, 222, 0.1);
}

.contacts-tab input:focus,
.contacts-tab textarea:focus,
.contacts-tab input:active,
.contacts-tab textarea:active {
	border-color: #35b5eb;
}

.contacts-tab input {
	height: 55px;
	margin-bottom: 20px;
}

.contacts-tab textarea {
	height: 170px;
	padding-top: 15px;
}

.payment-tab {
	max-width: 1080px;
	margin: auto;
}

.payment-tab form {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.payment-tab label {
	-webkit-flex-basis: 50%;
	-ms-flex-preferred-size: 50%;
	flex-basis: 50%;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 27px;
	font-size: 18px;
	font-weight: 300;
	color: #606060;
	cursor: pointer;
}

.payment-tab label img {
	margin-left: 25px;
}

.payment-tab .jq-radio {
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

.cart-page__controllers {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-top: 45px;
	margin-bottom: 45px;
}

.cart-page__controllers--cart-tab {
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.cart-page__controllers__prev,
.cart-page__controllers__next {
	width: 360px;
	height: 55px;
	font-size: 22px;
	line-height: 53px;
	background-repeat: no-repeat;
}

.cart-page__controllers__prev {
	padding-left: 35px;
	color: #dd8461;
	background-image: url(../img/arr-prev.svg);
	background-position-y: center;
	-webkit-filter: grayscale();
	filter: grayscale();
}

.cart-page__controllers__prev:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.cart-page__controllers__next {
	color: #ffffff;
	text-align: center;
	background-color: #35b5eb;
	background-image: url(../img/arr-next.svg);
	background-position: 82%;
	border-radius: 5px;
}

.aside-left {
	float: left;
	width: 18.125%;
	min-width: 200px;
	margin-right: 1.25%;
	margin-bottom: 20px;
	color: #fffefe;
	background: radial-gradient(circle at bottom, rgba(255, 255, 255, 0.32) 0%, rgba(1, 2, 2, 0.32) 100%), rgba(79, 73, 102, 0.81) url(../img/dotted.png);
}

.aside-left ul {
	padding: 0;
	list-style-type: none;
	overflow: hidden;
}

.aside-left a {
	display: block;
	width: 100%;
	padding-left: 75px;
	padding-right: 5%;
	border-bottom: 1px solid #2d2a34;
	font-size: 22px;
	font-weight: 300;
	line-height: 65px;
}

.aside-left a:hover {
	background-color: rgba(168, 168, 168, 0.12);
}

.aside-left a.current {
	background-color: rgba(214, 63, 177, 0.12);
	box-shadow: 0 6px 20px rgba(0, 1, 2, 0.19);
}

.for-left-aside,
.for-right-aside,
.constructor-page__settings__button {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 30px;
	height: 50px;
	cursor: pointer;
}

.for-left-aside:before,
.for-right-aside:before,
.constructor-page__settings__button:before,
.for-left-aside:after,
.for-right-aside:after,
.constructor-page__settings__button:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 5px;
	margin: auto;
	width: 70%;
	height: 3px;
	background-color: #fff;
}

.for-left-aside:before,
.for-right-aside:before,
.constructor-page__settings__button:before {
	top: -13px;
}

.for-left-aside:after,
.for-right-aside:after,
.constructor-page__settings__button:after {
	top: 13px;
}

.for-left-aside {
	left: 0;
	background-color: #b829c5;
}

.for-left-aside:before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.for-left-aside:after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.for-right-aside,
.constructor-page__settings__button {
	right: 0;
	background-color: #2e2d37;
	z-index: 100;
}

.for-right-aside:before,
.constructor-page__settings__button:before {
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
}

.for-right-aside:after,
.constructor-page__settings__button:after {
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
}

.ci-settings {
	min-width: 290px;
	width: 290px;
	margin-left: 1.5625%;
	border: 1px solid #e8e8e8;
	border-radius: 5px;
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.35);
	background-color: #fff;
}

.cis-top {
	padding: 12px 12px 12px 30px;
	background-color: #2e2d37;
	border: 1px solid white;
	border-radius: 5px;
	color: #fffefe;
	font-size: 20px;
	font-weight: 500;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.35);
}

.cis-bottom {
	padding: 25px 6px 0;
}

.cisb-colors {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: 10px;
	margin-bottom: 10px;
}

.cisb-colors div {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 45px;
	height: 45px;
	margin: 7px 2px;
	background-color: #f4f4f4;
	border-radius: 2px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
	cursor: pointer;
}

.cisb-colors div.current {
	border: 1px solid #35b5eb;
}

.cisb-colors span {
	display: block;
	width: 37px;
	height: 37px;
	border-radius: 2px;
}

.cisb-price {
	padding: 30px 10px;
	font-size: 20px;
	text-align: center;
	box-shadow: 0 2px 3.4px 0.6px rgba(0, 0, 0, 0.08);
}

.cisb-price strong {
	font-size: 22px;
}

.to-order,
.cart-add {
	display: block;
	width: 242px;
	height: 45px;
	margin: 25px auto;
	font-size: 18px;
	font-weight: 500;
	border-radius: 2px;
	transition: .4s;
}

.to-order:hover,
.cart-add:hover {
	box-shadow: 0 6px 20px rgba(0, 1, 2, 0.19);
}

.to-order {
	color: #ffffff;
	background-color: #35b5eb;
	border: none;
	box-shadow: 0 6px 10px rgba(0, 1, 2, 0.19);
}

.cart-add {
	padding-left: 15px;
	color: #35b5eb;
	border: 1px solid #35b5eb;
	text-align: left;
	background: #fff url(../img/cart-add.svg) no-repeat 90% 55%;
}

.constructor-page__settings {
	min-width: 306px;
	width: 306px;
	margin-left: 1.5625%;
	border-radius: 5px;
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.35);
	background-color: #fff;
}

.constructor-page__settings__item {
	margin-bottom: -1px;
}

.constructor-page__settings__item.active .cis-bottom {
	height: auto;
	padding: 25px 6px;
}

.constructor-page__settings__item .cis-top {
	cursor: pointer;
}

.constructor-page__settings__item .cis-top:hover {
	background-color: #363541;
}

.constructor-page__settings__item .cis-bottom {
	height: 0;
	padding: 0;
	overflow: hidden;
}

.constructor-page__settings-tabs ul {
	padding: 0;
	list-style-type: none;
}

.constructor-page__settings-tabs ul li {
	display: inline-block;
}

.constructor-page__settings-tabs ul li:nth-child(1) a {
	border-radius: 2px 0 0 2px;
	background-image: url(../img/tab-image.svg);
}

.constructor-page__settings-tabs ul li:nth-child(2) a {
	background-image: url(../img/tab-smile.svg);
}

.constructor-page__settings-tabs ul li:nth-child(3) a {
	background-image: url(../img/tab-sticker.svg);
}

.constructor-page__settings-tabs ul li:nth-child(4) a {
	background-image: url(../img/tab-text.svg);
	border-radius: 0 2px 2px 0;
}

.constructor-page__settings-tabs ul a {
	display: block;
	width: 74px;
	height: 42px;
	margin-right: -5px;
	border: 1px solid #35b5eb;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.07);
	background: #fff no-repeat center;
}

.constructor-page__settings-tabs ul a.active {
	border-bottom: none;
	background-color: #f4f4f4;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
}

.images-tab__content,
.smiles-tab__content,
.stickers-tab__content,
.text-tab__content {
	padding: 5px;
	background-color: #f4f4f4;
	border-radius: 2px;
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.25);
}

.images-tab__content button,
.text-tab__content button {
	display: block;
	margin: 15px auto;
	padding: 0 15px;
	background-color: white;
	border: 1px solid #d2d2d2;
	border-radius: 2px;
	font-size: 15px;
	text-align: center;
	line-height: 25px;
	cursor: pointer;
}

.images-tab__content input {
	display: none;
}

.images-tab__content-wrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.images-tab__content-wrap img {
	-webkit-flex-basis: 31%;
	-ms-flex-preferred-size: 31%;
	flex-basis: 31%;
	margin: 3px;
}

.smiles-tab__content,
.stickers-tab__content {
	max-height: 300px;
	overflow: auto;
}

.smiles-tab__content,
.stickers-tab__content > div {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.smiles-tab__content img,
.stickers-tab__content > div img {
	max-width: 17%;
	margin: 4px;
	cursor: pointer;
}

.smiles-tab__content img:hover,
.stickers-tab__content > div img:hover {
	background-color: white;
	border-radius: 2px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
}

.stickers-tab__content > div {
	padding: 5px 0;
}

.stickers-tab__content > div + div {
	border-top: 1px solid #a3a3a3;
}

.text-tab__content {
	padding-top: 15px;
}

.text-tab__content input,
.text-tab__content select {
	height: 37px;
	border-radius: 2px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
	border: none;
}

.text-tab__content input {
	width: 100%;
	margin-bottom: 15px;
	padding: 5px 10px;
}

.text-tab__content select:nth-of-type(1) {
	width: 53px;
}

.text-tab__content select:nth-of-type(2) {
	width: 226px;
	padding-left: 15px;
}

.constructor-page__filters {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.constructor-page__filters div {
	position: relative;
	cursor: pointer;
}

.constructor-page__filters div:before {
	content: '';
	position: absolute;
	bottom: 10px;
	width: 22px;
	height: 22px;
	background: #f4f4f4 no-repeat center;
	border: 1px solid #2e2d37;
	border-radius: 2px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
	z-index: 1;
}

.constructor-page__filters div.active:before {
	background-image: url(../img/filter-check.svg);
}

.constructor-page__filters div:nth-child(1) span {
	-webkit-filter: grayscale();
	filter: grayscale();
}

.constructor-page__filters div:nth-child(2) span {
	-webkit-filter: sepia();
	filter: sepia();
}

.constructor-page__filters div:nth-child(3) span {
	-webkit-filter: invert();
	filter: invert();
}

.constructor-page__filters div span {
	display: block;
	width: 85px;
	height: 85px;
	background-image: url(../img/filter.png);
}

.site-footer {
	padding-top: 30px;
	background-color: #2a292d;
	color: #ffffff;
}

.sf-wrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	max-width: 1500px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}

.sf-logo a {
	font-family: Quango, serif;
	font-size: 45px;
}

.sf-logo small {
	display: block;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 300;
}

.sf-nav ul {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	max-width: 570px;
	width: 100%;
	padding: 0;
	font-size: 20px;
	list-style-type: none;
}

.sf-nav a {
	padding: 11px 20px;
}

.sf-nav a.current {
	font-weight: 300;
}

.sf-contacts {
	text-align: right;
	line-height: 32px;
}

.sf-contacts span:nth-child(2) {
	display: block;
}

.cpr {
	display: block;
	margin-top: 30px;
	padding: 10px;
	color: #35b5eb;
	text-align: right;
	background-color: #000000;
}

@media (min-width: 769px) {

.catalog-page {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.cp-main {
	width: 80.625%;
}

}

@media (min-width: 1024px) {

.op-item:not(:last-child) {
	margin-right: 2.5%;
}

}

@media (min-width: 1024px) and (max-width: 1150px) {

.op-item h4 {
	font-size: 22px;
}

.op-item p {
	font-size: 16px;
}

}

@media (min-width: 1199px) {

.sh-contacts {
	font-size: 18px;
}

}

@media (max-width: 1350px) {

.aside-left a {
	padding-left: 30px;
}

}

@media (max-width: 1200px) {

.sh-logo a {
	font-size: 39px;
}

}

@media (max-width: 1135px) {

.sf-nav {
	display: none;
}

}

@media (max-width: 1100px) {

.m-top p {
	font-size: 35px;
}

}

@media (max-width: 1080px) {

.sh-wrap {
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

.sfc-links a {
	width: 450px;
	height: 75px;
}

}

@media (max-width: 1070px) {

.sf-wrap {
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

}

@media (max-width: 1024px) {

.pagination .prev,
.pagination .next {
	width: 39px;
	color: transparent;
	font-size: 0;
}

.pagination .prev:before,
.pagination .next:before {
	left: 0;
	right: 0;
}

.component-page span {
	font-size: 44px;
}

.site-first {
	background-size: cover;
}

.op-items {
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

.op-item {
	-webkit-flex-basis: 45%;
	-ms-flex-preferred-size: 45%;
	flex-basis: 45%;
	margin-bottom: 5%;
}

.op-item:nth-child(2n) {
	margin-left: 4%;
}

.about_works {
	background-size: cover;
}

}

@media (max-width: 1000px) {

.instructions-main-item__contacts-bottom {
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.instructions-main-item__contacts-bottom .instructions-main-item__contacts-bottom__form {
	margin-top: 15px;
	margin-left: 0;
}

}

@media (max-width: 991px) {

.catalog-item-page {
	padding-right: 1.25%;
}

.for-right-aside,
.constructor-page__settings__button {
	display: block;
}

.ci-settings {
	position: fixed;
	overflow: auto;
	top: 0;
	bottom: 0;
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	margin: auto -290px auto auto;
	transition: .5s;
	z-index: 1;
}

.ci-settings.active {
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	margin-left: 0;
}

.constructor-page__settings {
	position: fixed;
	overflow: auto;
	top: 0;
	bottom: 0;
	-webkit-transform: translateX(0);
	transform: translateX(0);
	transition: .5s;
	z-index: 1;
}

.constructor-page__settings.active {
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	margin-left: 0;
}

}

@media (max-width: 960px) {

.sf-top p {
	font-size: 45px;
}

.sf-top small {
	font-size: 33px;
}

.sfc-links a {
	width: 400px;
	height: 70px;
}

}

@media (max-width: 860px) {

.sfc-links {
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

.sfc-links a {
	width: 295px;
	height: 65px;
	font-size: 20px;
}

}

@media (max-width: 855px) {

.catalog-items {
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

}

@media (max-width: 800px) {

.component-page span {
	font-size: 30px;
}

.at-wrap {
	font-size: 9px;
}

}

@media (max-width: 768px) {

.breadcrumbs {
	padding-left: 1.25%;
}

.site-header {
	-webkit-flex-direction: row-reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

.sh-wrap {
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.sh-contacts {
	display: none;
}

.cart-link {
	background-position-y: 90%;
}

.cart-link:before {
	border-top-width: 95px;
}

.sf-top {
	border-bottom-left-radius: 50% 50px;
	border-bottom-right-radius: 50% 50px;
}

.sf-top p {
	font-size: 34px;
}

.sf-top small {
	font-size: 25px;
	padding-left: 120px;
}

.sfc-links {
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.sfc-links a + a {
	margin-top: 20px;
}

.a-text {
	border-bottom-left-radius: 50% 50px;
	border-bottom-right-radius: 50% 50px;
}

.m-top p {
	font-size: 28px;
}

.catalog-items {
	padding-left: 1.25%;
}

.c-item {
	margin-left: 5px;
}

.catalog-item-page {
	padding-left: 1.25%;
}

.order-page__tabs-header li:not(.active) {
	width: 0;
	height: 0;
	overflow: hidden;
}

.payment-tab form {
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.aside-left {
	position: fixed;
	overflow: auto;
	top: 0;
	bottom: 0;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	margin: auto auto auto -220px;
	background: rgba(79, 73, 102, 0.81);
	transition: .5s;
	z-index: 1;
}

.aside-left.active {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	margin-left: 0;
}

.aside-left a {
	line-height: 50px;
}

.for-left-aside {
	display: block;
}

}

@media (max-width: 735px) {

.at-wrap {
	font-size: 8px;
}

}

@media (max-width: 650px) {

.cart-page__controllers__prev,
.cart-page__controllers__next {
	font-size: 18px;
}

.cart-page__controllers__next {
	background-image: none;
}

}

@media (max-width: 610px) {

.sf-wrap {
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.sf-contacts {
	margin-top: 2.5%;
	text-align: center;
}

}

@media (max-width: 600px) {

.op-item {
	-webkit-flex-basis: 337px;
	-ms-flex-preferred-size: 337px;
	flex-basis: 337px;
}

.op-item:nth-child(2n) {
	margin-left: 0;
}

}

@media (max-width: 540px) {

.sf-top {
	border-bottom-left-radius: 50% 20px;
	border-bottom-right-radius: 50% 20px;
}

.sf-top p {
	font-size: 43px;
}

.sf-top small {
	padding-left: 0;
	font-size: 23px;
}

.a-text {
	border-bottom-left-radius: 50% 20px;
	border-bottom-right-radius: 50% 20px;
}

}

@media (max-width: 530px) {

.create-skin p {
	font-size: 25px;
}

}

@media (max-width: 520px) {

.sf-choice small {
	padding: 10px 0 0;
}

}

@media (max-width: 500px) {

.ci-img-bottom {
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

}

@media (max-width: 470px) {

.top-phones h3 {
	font-size: 20px;
}

}

@media (max-width: 420px) {

.sh-logo a {
	font-size: 28px;
}

.cart-link:before {
	border-top-width: 65px;
	border-right-width: 80px;
}

}

@media (max-width: 400px) {

.sf-top p {
	font-size: 36px;
}

.sf-top small {
	font-size: 20px;
}

.tp-notfound {
	height: 50px;
	font-size: 17px;
}

}

@media (max-width: 370px) {

.btn {
	width: 290px;
}

}

